/riscv-tools
/riscv-tools-build
/rocket-chip
/rocket-syn
/cover
/coverage
/checks
/checks.cfg
/testbench
/testbench.v
/testbench.vcd
/obj_dir
/disasm.s
/disasm.o
/cexdata-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
/cexdata-[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9].zip
/muldivlen_cover
/muldivlen_check
