imemcheck.aig
imemcheck.blif
imemcheck.smt2
dmemcheck.aig
dmemcheck.blif
dmemcheck.smt2
regcheck.aig
regcheck.blif
regcheck.smt2
pccheck.aig
pccheck.blif
pccheck.smt2
insn_*.log
cons_*.log
insncheck_*.aig
insncheck_*.blif
insncheck_*.smt2
runall_insn.mk
runall_cons.mk
output.vcd
disasm.o
disasm.s
